.contact-page-container {
  @apply container flex flex-col-reverse md:flex-col h-contact-mobile md:h-auto justify-start items-center;

  .contact-slider-container {
    @apply flex flex-col justify-center items-center;

    .slide-text-container {
      @apply flex justify-center items-center mr-2 text-sm text-lime-600 dark:text-lime-200;
      animation: shake 10s ease infinite;

      svg {
        @apply ml-1;
        height: 1rem;
      }
    }

    .notice {
      @apply text-xs text-neutral-500 dark:text-neutral-50 pb-4 md:pb-0;
    }
  }

  .contact-details {
    @apply pt-8 mt-8 md:border-t-[1px] pb-8 md:pb-0;
    .label-text {
      p:nth-of-type(1) {
        @apply text-xs pb-1 text-gray-400;
      }
      p:nth-of-type(2) {
        @apply text-sm;
      }
    }

    .copy-email-container {
      @apply flex justify-between pt-2 mt-2;
      svg {
        height: 1.2rem;
      }

      p {
        @apply text-xs pt-1;
      }

      @mixin email-btn-common {
        @apply rounded-lg p-2 flex flex-col justify-start items-center bg-gray-100 text-gray-800 dark:text-gray-100 dark:bg-gray-800 hover:-translate-y-0.5 cursor-pointer transition-all;
      }

      .email {
        @include email-btn-common;
      }
      .copy {
        @include email-btn-common;
      }
    }
  }

  .drag-container {
    @apply rounded-full border flex justify-start items-center scale-75 shadow-md;
    width: 10rem;
    height: 4rem;
    padding: 0.1rem;

    .draggable {
      @apply rounded-full flex justify-center items-center shadow-md  bg-white border border-neutral-200;

      width: 3.8rem;
      height: 3.8rem;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}
