.projects-page {
  @apply mx-4 sm:mx-0;

  .project-utilities-navbar {
    @apply container pb-2  mb-2 flex justify-start items-center gap-2  rounded-sm border-b-[1px] dark:border-gray-800;

    p {
      @apply text-gray-400 dark:text-gray-400 text-xs mr-2 pr-2 border-r-[1px] dark:border-gray-800;
    }

    form {
      @apply flex gap-4;
      .checkbox-container {
        @apply flex;
        label {
          @apply pl-2 text-xs text-gray-500 dark:text-gray-200;
        }
      }

      .strict-container {
        @apply relative pr-2 border-r-[1px];
      }
    }
  }

  .projects-container {
    @apply grid 
        gap-2
        grid-cols-1
        sm:grid-cols-2 
        md:grid-cols-2 
        lg:grid-cols-3 
        xl:grid-cols-5
        2xl:grid-cols-5
        mb-28
        md:mb-6;

    .project-card {
      @apply dark:bg-neutral-800 transition rounded-sm p-2 hover:shadow-lg flex flex-col justify-between;

      .title-header {
        @apply flex flex-row justify-between px-2 py-2;

        .title {
          @apply text-base font-semibold;
        }

        a {
          @apply text-orange-400 dark:text-blue-700 hover:text-blue-700 dark:hover:text-orange-500;
        }
      }

      .content-container {
        @apply h-full py-2 flex flex-col justify-start;

        .image-container {
          @apply rounded-sm overflow-hidden mb-2;
          position: relative;
          width: 100%;
          height: 200px;
          // background-color: blue;
          // opacity: 50%;
          // background-color: rgb(255, 145, 0);

          .image {
            // filter: saturate(0%);
            width: 100%;
            height: 100%;
            position: relative !important;
            object-fit: cover; // Optional
            opacity: 100%;
            transition: all 0.5s ease-out;
            // mix-blend-mode: multiply;

            &:hover {
              mix-blend-mode: normal;
              // filter: saturate(100%);
            }
          }

          .project-status {
            @apply bg-white bg-opacity-60 py-1 px-2 rounded-full hover:bg-opacity-100 cursor-default;
            z-index: 5;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            p {
              @apply text-xs font-bold text-gray-900;
              font-size: 0.7rem;
            }
          }
        }

        .description-container {
          @apply mb-4 py-1 flex flex-col justify-between h-28;

          p:nth-of-type(1) {
            @apply text-sm;
          }

          p:nth-of-type(2) {
            @apply text-right text-xs mt-2;
          }
        }

        .page-link-container {
          @apply mb-2 flex flex-row justify-end;

          span {
            @apply cursor-pointer flex flex-row justify-center items-center text-xs text-blue-600  px-2 py-1 rounded-full
              border-blue-600 border  hover:bg-blue-600 hover:text-white dark:text-white dark:border-white dark:hover:border-blue-600;

            p {
              @apply ml-1 font-semibold;
            }

            svg {
              transition: all 0.3s ease-in-out;
              height: 1.4rem;
            }
          }

          &:hover {
            span {
              svg {
                @apply translate-x-2;
              }
            }
          }
        }

        .tech-stack-container {
          @apply text-xs font-semibold flex flex-wrap gap-1 max-w-full border-t-[1px] pt-2 border-neutral-200 dark:border-neutral-600;

          span {
            @apply text-xs bg-slate-100 dark:bg-neutral-700 px-2 py-1 rounded-full h-fit min-w-fit;
          }
        }
      }

      .github-link-container {
        @apply px-2 py-2 flex justify-end gap-2;

        div {
          @apply flex flex-col justify-center items-center;

          a {
            @apply border-[1px] text-slate-800 border-slate-800 dark:bg-orange-600  w-fit p-2  inline-block rounded-full hover:text-white dark:text-white dark:border-none hover:bg-slate-800 dark:hover:bg-blue-800;

            svg {
              width: 1rem;
              height: 1rem;
              stroke-width: 2px;
            }
          }

          p {
            @apply text-xs pt-1 font-semibold text-gray-600 dark:text-gray-200;
          }
        }
      }
    }
  }
}

.fullstack-nav {
  @apply container mx-2 sm:mx-0 pb-2  mb-2 flex justify-between items-center gap-2   border-b-[1px] dark:border-gray-800;

  .go-back {
    @apply cursor-pointer flex justify-center items-center text-orange-600 dark:text-blue-600 hover:bg-gray-100 hover:dark:bg-gray-800 py-1 px-2 rounded-sm;
    svg {
      height: 1.2rem;
    }

    p {
      @apply ml-1 text-xs;
    }
  }

  .crumbs-container {
    @apply text-xs text-gray-400 dark:text-gray-500  mr-2;
  }
}

.fullstack-title {
  @apply container mx-2 sm:mx-0 my-4  flex flex-col justify-center items-start dark:border-gray-800;

  p:nth-of-type(1) {
    @apply text-3xl font-bold;
  }

  p:nth-of-type(2) {
    @apply text-sm text-gray-700 dark:text-gray-200;
  }
}

// xl:flex-row
// h-full
// xl:h-slider-full;
// // height: 42rem;

.fullstack-page {
  @apply container 
  mx-2 
  mb-24
  xl:mb-0
  xl:mx-0;

  .slider-container {
    @apply mb-4 
    container 
    relative 
    h-64 
    md:h-slider-medium 
    lg:h-slider-large
    xl:h-slider-xl  bg-neutral-900;

    .description-container {
      @apply bg-neutral-800;

      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10rem;
      // background-color: white;
      // opacity: 40%;
      transition: all 0.2s ease-out;
      transform: translateY(4rem);
      padding: 0.5rem;
      background-color: rgba(38, 38, 38, 0.4);
      &:hover {
        background-color: rgba(38, 38, 38, 0.8);
        transform: translateY(0);
      }

      p {
        @apply text-neutral-800 dark:text-neutral-200 text-white;
      }

      p:nth-of-type(1) {
        @apply text-lg font-bold border-b-[1px] w-fit pb-1 mb-1;
      }

      p:nth-of-type(2) {
        @apply text-sm;
      }
    }
  }

  .content-container {
    @apply container sm:px-0;

    @mixin title-style {
      @apply text-lg font-bold pb-1;
    }

    @mixin subtitle-style {
      @apply text-sm font-bold text-green-700 dark:text-yellow-500 mb-1;
    }

    @mixin content-style {
      @apply inline-flex flex-wrap gap-1;
    }

    .title-container {
      @apply mb-2 pb-2 border-b-[1px];
      p:first-of-type {
        @include title-style;
      }
      p:last-of-type {
        @apply text-lg font-bold pl-2;
      }
    }

    .label-text-container {
      @apply mb-2 pb-2 border-b-[1px];
      p:first-of-type {
        @include title-style;
      }
      p:last-of-type {
        @include content-style;
      }
    }
    .tech-stack-container {
      @apply mb-4 pb-4  border-b-[1px];
      p:first-of-type {
        @include title-style;
      }
      ul {
        @include content-style;
        li {
          @apply text-sm bg-slate-100 dark:bg-neutral-700 px-4 py-1 rounded-full h-fit min-w-fit;
        }
      }
    }
    .features-container {
      @apply mb-2 pb-2;

      .features-title {
        @include title-style;
      }

      ul {
        @apply sm:flex justify-start;
        li {
          @apply pr-2;
          .sub-li-title {
            @include subtitle-style;
          }

          li {
            // @include content-style;
            @apply flex-col;

            // color: red;
          }
        }
      }
    }
  }
}
