.swiper {
  //   background-color: white;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;

  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  //   .image {
  //     position: absolute;
  //     top: 0;
  //   }
}
