.projects-page {
  @apply mt-6 mx-4 sm:mx-0;

  .projects-container {
    @apply grid 
      gap-2
      grid-cols-1
      sm:grid-cols-2 
      md:grid-cols-2 
      lg:grid-cols-3 
      xl:grid-cols-4 
      2xl:grid-cols-5 
  
      mb-6;

    .project-card {
      @apply bg-slate-100 dark:bg-neutral-800 transition rounded-md p-2 hover:shadow-md flex flex-col justify-between;

      .title-header {
        @apply flex flex-row justify-between px-2 py-4 border-b-[1px] border-slate-200;

        .title {
          @apply text-xl font-semibold;
        }

        a {
          @apply text-orange-400 dark:text-blue-700 hover:text-blue-700 dark:hover:text-orange-500;
        }
      }

      .content-container {
        @apply h-full py-2 flex flex-col justify-start;

        .image-container {
          @apply rounded-md overflow-hidden mb-2;
          position: relative;
          width: 100%;
          height: 200px;
          // background-color: blue;
          // opacity: 50%;

          .image {
            width: 100%;
            height: 100%;
            position: relative !important;
            object-fit: cover; // Optional
            opacity: 100%;
            transition: all 0.5s ease-out;
          }
        }

        .description-container {
          @apply mb-4 py-1 flex flex-col justify-between h-28;

          p:nth-of-type(1) {
            @apply text-sm;
          }

          p:nth-of-type(2) {
            @apply text-right text-xs mt-2;
          }
        }

        .tech-stack-container {
          @apply text-xs font-semibold flex flex-wrap gap-1 max-w-full;

          span {
            @apply bg-slate-200 dark:bg-neutral-700 px-2 py-1 rounded-full h-fit min-w-fit;
          }
        }
      }

      .github-link-container {
        @apply px-2 py-2 flex justify-end gap-2;

        div {
          @apply flex flex-col justify-center items-center;

          a {
            @apply border-[1px] text-slate-800 border-slate-800 dark:bg-orange-600  w-fit p-2  inline-block rounded-full hover:text-white dark:text-white dark:border-none hover:bg-slate-800 dark:hover:bg-blue-800;

            svg {
              width: 1rem;
              height: 1rem;
              stroke-width: 2px;
            }
          }

          p {
            @apply text-xs pt-1 font-semibold text-gray-600 dark:text-gray-200;
          }
        }
      }
    }
  }
}
