@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-slate-800 dark:bg-dark-bg dark:text-gray-100;
    // @apply min-h-screen;
  }

  ::selection {
    @apply text-white bg-indigo-500;
  }

  .btn {
    @apply inline-block px-5 py-3 rounded-lg hover:bg-indigo-600 transition duration-300 shadow-lg bg-indigo-500 text-white capitalize tracking-wider font-semibold text-sm sm:text-xl focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 whitespace-nowrap;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  // color: inherit;
  text-decoration: none;
  // background-color: #0f0f0f;
}

* {
  box-sizing: border-box;
}

.nav-link {
  @apply text-sm font-medium text-slate-700 dark:text-slate-50 py-3 px-6  hover:bg-gray-100 dark:hover:bg-gray-800 cursor-pointer hover:rounded-sm;
}

// .nav-link {
//   @apply block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700
//   bg-red-500;
// }

.active-navlink {
  @extend .nav-link;
  @apply text-orange-600 dark:text-blue-500;
}

// html,
// body,
// * {
//   cursor: none;
// }

// .app-cursor {
//   z-index: 1000;
//   border-radius: 50%;
//   width: 100px;
//   height: 100px;
//   border: 0.5px solid lightgray;
//   pointer-events: none;
//   overflow: hidden;
//   transform: translate3d(0, 0, 0);
//   position: fixed;

//   // background-color: rgba($color: #157ab8, $alpha: 0.2);
//   backdrop-filter: blur(2px);
//   backdrop-filter:  blur(2px)s;
// }

.projects-container {
  @apply grid 
    gap-2
    sm:grid-cols-1 
    md:grid-cols-2 
    lg:grid-cols-3 
    xl:grid-cols-4 
   
    mb-12;
}

.project-card {
  @apply bg-slate-100 dark:bg-neutral-800 transition rounded-md p-2 hover:shadow-md flex flex-col justify-between;

  .title-header {
    @apply flex flex-row justify-between px-2 py-4 border-b-[1px] border-slate-200;

    .title {
      @apply text-xl font-semibold;
    }
  }

  .content-container {
    @apply h-full py-2 flex flex-col justify-start;

    .image-container {
      @apply rounded-lg overflow-hidden mb-4;
      position: relative;
      width: 100%;
      height: 200px;
      background-color: blue;
      // opacity: 50%;

      .image {
        width: 100%;
        height: 100%;
        position: relative !important;
        object-fit: cover; // Optional
      }
    }

    .description-container {
      @apply mb-4 py-2 flex flex-col justify-start;

      p:nth-of-type(1) {
        @apply text-sm;
      }

      p:nth-of-type(2) {
        @apply text-right text-sm mt-2;
      }
    }

    .tech-stack-container {
      @apply text-xs font-semibold flex flex-wrap gap-1 max-w-full;

      span {
        @apply bg-slate-200 dark:bg-neutral-700 px-2 py-1 rounded-full h-fit min-w-fit;
      }
    }
  }

  .github-link-container {
    @apply px-2 py-2 flex justify-end gap-2;

    div {
      @apply flex flex-col justify-center items-center;

      a {
        @apply bg-slate-800 dark:bg-orange-700  w-fit p-2 text-white inline-block rounded-full;
      }

      p {
        @apply text-xs pt-1 font-bold text-gray-500 dark:text-orange-500;
      }
    }
  }
}
